*.json
.DS_Store
__pycache__
hasty_student/trained_models/*
hasty_student/result/*
impatient_reader_simple_baseline/trained_models/*
impatient_reader_simple_baseline/result/*
impatient_reader/trained_models/*
impatient_reader/result/*
hasty_simple_baseline/my_doc2vec_model.docvecs.vectors_docs.npy
impatient_reader_simple_baseline/my_doc2vec_model.docvecs.vectors_docs.npy
